body {
  background-color: #333;
  color: #fff;
}

.stat {
  small {
    color: #666;
  }

  span[class*="_2"] {
    color: #4caf50;
  }

  span[class*="_4"] {
    color: #fb8c00;
  }

  span[class*="_5"] {
    color: #ff5722;
  }
}

.page-content {
  padding: 15px;

  .request-card {
    width: 100%;

    &__form-wrapper {
      padding: 0;
      width: 100%;
    }

    &__url {
      width: 100%;
    }
  }

  .response-card {
    margin-top: 15px;
    width: 100%;

    &__form-wrapper {
      padding: 0;
      width: 100%;
    }
  }
}